@media only screen and (max-width: 600px) {
    .title {
        font-size: 50px;
        margin-top: -10%;
        text-align: center;
        color: #000232
    }

    .img-left {
        width: 350px;
        height: 100px;
    }

    .img-right {
        width: 500px;
        height: 100px;
    }

    .navbar-toggler {
        position: relative;
        left: -20px;
    }

    .navbar {
        margin: 0;
    }

    .remove-padding {
        padding: 0;
    }

    .navigation {
        padding: 0;
    }

    .about {
        margin: -35px 0 0 30px;
    }

    .title-about {
        font-size: 12px;
        left: -6px
    }

    .message {
        margin: 0;
    }

    .nav-item {
        color: #fff
    }

    .list-card {
        display: flex;
        padding-left: 0;
        /* margin: auto; */
        flex-direction: column;
        align-items: center;
    }

    .title-recruit {
        right: -10px;
        bottom: -36px;
    }

    .card-img-top {
        width: 380px;
        height: 260px;
    }

    .card-word {
        width: 23rem
    }

    .section-works {
        margin-left: 0;
    }

    .work {
        width: 330px;
    }

    .title-white {
        font-size: 70px;
        margin-top: -10%;
        text-align: center;
        color: #fff
    }

    div {
        border: none
    }

    .section-tilte {
        top: 3%;
    }

    .banner-title {
        font-size: 95px;
    }

    .bg-banner {
        height: 150px;
    }

    header {
        height: 180px;
    }

    .font-md {
        font-size: 15px;
    }

    .font-sm {
        font-size: 12px;
    }

    .description-contact {
        width: 300px;
    }

    .btn-contact {
        width: 100px;
    }

    .form-contact {
        width: 70%;
    }

    .section-card {
        height: 1400px;
    }

    .recruit-description {
        width: 100px;
    }

    .footer {
        height: 400px;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .description-people {
        padding: 0;
        margin: 0;
    }


}