* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: 700;
  color: #000232;
}

.font-bold {
  font-weight: 700;
}

.font-md {
  font-size: 30px;
}

.font-sm {
  font-size: 24px;
}

.logo {
  margin-left: 10px;
  color: #ffffff;
}

.sumary-about {
  position: relative;
  left: -18px
}


header {
  height: 440px;
}

.bg-header {
  background-image: url(../assets/images/image1.png);
  /* max-width: 50%; */
  background-repeat: no-repeat;
  background-size: 50%;
  /* height: 300px; */
}

.navigate {
  height: 60px;
}

.bg-banner {
  background-image: url(../assets/images/banner2x.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 360px;
  /* position: absolute; */
  /* top: 7%; */
  z-index: 1;
}

.navigation {
  z-index: 2;
}

.about {
  margin: -50px 0 0 50px;
}

.banner {
  background-image: url(../assets/images/banner.png);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.navbar {
  margin-right: 16px;
}

.work {
  margin-bottom: 100px;
}

.banner-title {
  text-align: center;
  margin: 0px;
  margin: auto;
  font-size: 270px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.works {
  font-size: 170px;
  margin-top: -10%;
  text-align: center;
}

.works-card {
  height: 380px;
}

.people {
  margin-top: -50px;
}

.recruit {
  font-size: 120px;
  color: #030233;
  margin-top: -9%;
}

.img-left {
  width: 451px;
  height: 300px;
}

.img-right {
  width: 420px;
  height: 300px;
}

.title {
  font-size: 230px;
  margin-top: -10%;
  text-align: center;
  color: #000232;
}

.title-white {
  font-size: 170px;
  margin-top: -6%;
  text-align: center;
  color: #fff;
}

.img-work {
  padding: 0px;
}

.img-description-work {
  height: 290px;
  padding: 0px;
}

.section {
  background-color: #000232;
}

.cards {
  margin: 50px 0 50px 90px;
  gap: 10px
}

.card-word {
  background-color: transparent;
  border: none;
  width: 25rem
}

.work-description {
  font-size: 18px
}

.card-img-top {
  width: 380px;
  height: 260px;
}

.section-card {
  display: flex;
  justify-content: end;
  background-color: #000232;
  height: 550px;
  border: none
}

.btn-rectuit {
  margin-top: 30px;
  border-radius: 0px;
}

.list-card {
  display: flex;
  padding-left: 120px;
}

.card-body h5 {
  font-size: 20px;
}

.contact {
  background-image: url('../assets/images/footer.png');
}

.title-contact {
  margin-top: -10%;
  font-size: 150px;
}

.title-recruit {
  position: absolute;
  font-size: 230px;
  right: -365px;
  bottom: -100px
}

.recruit-section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.people-img {
  position: relative;
}

.description-contact {
  width: 540px;
  margin: auto;
}

.form-contact {
  width: 40%;
  margin: auto;
}

.input-contact {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
}

.btn-contact {
  width: 275px;
}

.recruit-text {
  margin: 0;
}

.recruit-description {
  width: 415px;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
}

.footer {
  gap: 70px
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
  .section-card {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 100px;
    margin-top: -10%;
    text-align: center;
    color: #000232;
  }

  .title-about {
    font-size: 16px;
  }

  .description-about {
    font-size: 20px;
    color: #000232
  }

  .works {
    margin-top: -8%;
    margin-bottom: 0px;
  }

  .img-description-work {
    height: 250px;
    padding: 0px;
  }

  .btn-rectuit {
    border-radius: 0px;
    font-size: 11px;
    margin-top: 0px;
  }
}